$sans-serif-family: 'Nunito', 'Helvetica Neue', Arial, sans-serif;

// alert colors
$success-color-alert: #30CC71 !default;
$warning-color-alert: #F94F55 !default;
$error-color-alert: #D00269 !default;
